<table class="striped" border="1">
  <template ngFor let-gruppe let-gruppenIndex="index" [ngForOf]="planGroups">
    <thead>
    <tr>
      <th data-field="participants" width="40%">{{gruppe.getTitle()}}</th>
      <th class="center-align" data-field="name" *ngFor="let eventDate of planCalenderInfo.eventDates">{{eventDate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teilgruppe of gruppe.sections; let teilgruppenIndex=index">
      <td data-field="participants">
        <div class="chip" *ngFor="let participantRef of teilgruppe.participants">{{getRelatedParticipant(participantRef).getTitle()}}</div>
      </td>
      <td data-field="price" class="center-align" *ngFor="let eventDate of planCalenderInfo.eventDates; let dayIndex=index">
        <input [(ngModel)]="teilgruppe.besetzung[dayIndex]" type="checkbox" name="test{{gruppenIndex + '_' +teilgruppenIndex + '_' +dayIndex}}" id="test{{gruppenIndex + '_' +teilgruppenIndex + '_' +dayIndex}}"/>
        <label attr.for="test{{gruppenIndex + '_' +teilgruppenIndex + '_' +dayIndex}}" ></label>
      </td>
    </tr>
    </tbody>
  </template>


</table>

