<i class="material-icons circle green">rowing</i>
<span class="title">{{participant.getTitle()}}</span>
<p>{{participant.location}}<br>
  {{participant.email}} {{participant.phone}}
</p>
<i class="material-icons" *ngIf="participant.notificationCal">event</i>
<i class="material-icons" *ngIf="participant.notificationEmail">email</i>
<i class="material-icons" *ngIf="participant.notificationSMS">call</i>

