<form materialize class="groupForm" id="groupForm" #groupEditForm="ngForm">

  <div class="row">
    <div class="col s6">
      <input placeholder="Gruppenname" name="groupName" [(ngModel)]="model.name" id="groupName"
             type="text" class="validate" required #groupName="ngModel">
      <div [hidden]="groupName.valid || groupName.pristine"
           class="red-text">
        Gruppenname ist leer
      </div>

      <div class="form-group">
        <input [(ngModel)]="model.location" name="groupLocation" placeholder="search for location" autocorrect="off"
               autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
      </div>

      <textarea placeholder="Kommentar" name="groupComment" id="groupComment" [(ngModel)]="model.comment"
                class="materialize-textarea" #groupComment="ngModel"></textarea>
    </div>

    <div class="col s6">
      <sebm-google-map [latitude]="model.latitude" [longitude]="model.longitude" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="model.latitude" [longitude]="model.longitude"></sebm-google-map-marker>
      </sebm-google-map>
    </div>
  </div>

  <a class="waves-effect waves-light btn" (click)="addTeilgruppe()"><i
    class="material-icons left">reply</i>Neue Teilgruppe</a>

  <div class="row">
    <div class="col s6" *ngFor="let teilgruppe of model.sections; let i=index;">
      <div class="card">
        <div class="card-content">
          <h5>Gruppe {{i+1}}</h5>
          <div class="input-field">
            <select [(ngModel)]="teilgruppe.participantsArray"
                    name="teilgruppenSelect{{i}}"
                    multiple
                    [materializeSelectOptions]="personList"
                    materialize="material_select">
              <option *ngFor="let option of personList" [value]="option.uid">{{option.getTitle()}}</option>
            </select>
          </div>

          <!-- Display participant core information -->
          <participant-ref-list-view [participants]="teilgruppe.participants"></participant-ref-list-view>

        </div>
        <div class="card-action">
          <a (click)="removeTeilgruppe(teilgruppe)" class="waves-effect waves-teal btn-flat "><i
            class="material-icons red-text">delete</i></a>
        </div>
      </div>
    </div>
  </div>

</form>
