<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">J316-Organization</a>
  </div>
</nav>

<div class=" container">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">J316 Organization</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Author <a class="orange-text text-lighten-3" href="http://agranovskiy.de">Leonid Agranovskiy</a>
    </div>
  </div>
</footer>
