<div class="row">
  <div class="col s12">
    <h2>Dienstplan: {{plan.planName}}</h2>
  </div>
</div>


<form materialize class="col s12" #planForm="ngForm">
  <div class="row">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn" (click)="navDashboard()"><i class="material-icons left">reply</i>Zum
        Übersicht</a>
      <a class="waves-effect waves-light btn red" (click)="removePlan()"><i
        class="material-icons left ">delete_sweep</i>Löschen</a>
      <a class="waves-effect waves-light btn" (click)="saveChanges()"
         [ngClass]="{'disabled': !planForm.form.valid}"><i
        class="material-icons left">send</i>Sichern</a>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <input placeholder="Planbezeichnung" name="planName" [(ngModel)]="plan.planName" id="planName"
             type="text" class="validate" required #planName="ngModel">
      <label for="planName">Planbezeichnung</label>
      <div [hidden]="planName.valid || planName.pristine"
           class="red-text">
        Planbezeichnung muss angegeben werden
      </div>
    </div>
  </div>


  <plan-calender-info-editor [model]="plan.planInformation"></plan-calender-info-editor>


  <div class="row" style="position: relative;">
    <div class="col s4">
      <h4>Plangruppen</h4>
    </div>
    <div class="col s8 right-align">
      <a (click)="addDienstPlanGruppe()" class="btn-floating btn-small waves-effect waves-light red"><i
        class="material-icons">add</i></a>
    </div>


  </div>
  <div class="row">
    <div class="col s12">
      <div *ngFor="let dienstPlanGruppe of plan.groupList">

        <gruppe-view [model]="dienstPlanGruppe" (removeClicked)="removeDienstPlanGruppe($event)"></gruppe-view>
        <!--  <view-card [model]="dienstPlanGruppe" (openClicked)="openDienstPlanGruppe($event)"></view-card>-->
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col s4">
      <h4>Besetzung</h4>
    </div>
    <div class="col s8 right-align">
      <a (click)="plan.planInformation.generateEventDates()"
         class="btn-floating btn-small waves-effect waves-light blue"><i
        class="material-icons">cached</i></a>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <app-plan-table [planCalenderInfo]="plan.planInformation" [planGroups]="plan.groupList"></app-plan-table>
    </div>
  </div>
</form>
