<div class="row">
  <div class="col s12">

    <div class="card">
      <div class="card-content">

        <div *ngIf="!isEditing ">

          <div class="row">
            <div class="col s5">
              <span class="card-title"> <h4>{{model.getTitle()}}</h4></span>
              <p><b>{{model.location}}</b></p>
              <p>{{model.comment}}</p>
            </div>
            <div class="col s7" *ngIf="model.latitude">
              <sebm-google-map [latitude]="model.latitude" [longitude]="model.longitude">
                <sebm-google-map-marker [latitude]="model.latitude" [longitude]="model.longitude"></sebm-google-map-marker>
              </sebm-google-map>
            </div>
          </div>
          <div class="row">
            <div class="col s4" *ngFor="let section of model.sections; let i=index;">
              <h5>Gruppe {{i+1}}</h5>
              <participant-ref-list-view [participants]="section.participants"></participant-ref-list-view>
            </div>
          </div>
        </div>

        <div *ngIf="isEditing">
          <gruppe-editor [model]="model"></gruppe-editor>

        </div>

      </div>

      <div class="card-action">

        <a class="waves-effect waves-teal btn-flat" (click)="toggleEditing()">
          <i class="material-icons ">create</i></a>

        <a href="#planRemovalDialog" class="waves-effect waves-teal btn-flat " materialize="leanModal"
           [materializeParams]="[{dismissible: false}]">
          <i class="material-icons red-text">delete</i></a>

      </div>
    </div>

    <!-- Removal Dialog -->
    <div id="planRemovalDialog" class="modal" materialize>
      <div class="modal-content">
        <h4>Soll die Gruppe wirklich gelöscht werden?</h4>
        <p>{{ model.getTitle()}}</p>
      </div>
      <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat red-text"
           (click)="sendRemoveEvent()">Agree</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
      </div>
    </div>
  </div>
</div>
